<launch>

<rosparam file="$(find dummy_arm2_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="dummy_arm2" args="rev_join1_position_controller rev_join2_position_controller rev_join3_position_controller rev_join4_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/dummy_arm2/joint_states"/>
</node>

</launch>